@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #19171E !important;
}

.mono {
    font-family: "JetBrains Mono", sans-serif;
}

.name {
    font-family: "Manrope", sans-serif;
}

.text {
    font-family: "Manrope", sans-serif;
    font-weight: normal;
}

.ptitle {
    line-height: 1;
    font-size: clamp(40px, 5vw, 80px);
}

.stitle {
    font-size: clamp(40px, 5vw, 70px);
    line-height: 1;
}

.number-title {
    font-size: clamp(16px,3vw,20px);
}

.section-title {
    font-size: clamp(26px,5vw,32px);
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    padding: 0px;
    margin: 20px 0px 0px;
    gap: 5px 10px;
}

.featuredProjectTitle {
    font-size: clamp(26px,5vw,32px);
}

.project-desc {
    font-size: clamp(10px,3vw,18px);
}


/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 26px;
    height: 20px;
    right: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #9F60D1;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #9f60d1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #9f60d1;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #19171E;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(255, 255, 255, 0);
}
