@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.mono {
    font-family: "JetBrains Mono";
}

.name {
    font-family: "Manrope";
}

.text {
    font-family: "Manrope";
    font-weight: normal;
}

.ptitle {
    line-height: 1;
    font-size: clamp(40px, 5vw, 80px);
}

.stitle {
    font-size: clamp(40px, 5vw, 70px);
    line-height: 1;
}

.number-title {
    font-size: clamp(16px,3vw,20px);
}

.section-title {
    font-size: clamp(26px,5vw,32px);
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    padding: 0px;
    margin: 20px 0px 0px;
    gap: 5px 10px;
}

.featuredProjectTitle {
    font-size: clamp(26px,5vw,32px);
}

.project-desc {
    font-size: clamp(10px,3vw,18px);
}
